<div id="tweets">
	<ul id="tweets-list">
		<% if @tweets %>
			<% @tweets.each do |tweet| %>
				<li class="single-tweet"><%= tweet.html_safe %></li>
			<% end %>
		<% end %>

	</ul>
  <p id="loading">
	   <img src="<%= image_path('default.svg') %>" alt="Loading…" />
  </p>
</div>
